---
title: Blog
layout: default
permalink: /blog
---
<div class="card-grid-container">
    {% for post in site.posts %}
    <div class="card-grid-item">
        <div class="card">
            <div class="card-image-bay">
                <a href="{{ post.url }}"><img class="card-image" src="{{ post.image }}" alt=""/></a>
            </div>
            <div class="card-content">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-subtitle">{{ post.date | date: "%B %d, %Y" }}</p>
                <p class="card-actions"><a class="card-btn" href="{{ post.url }}">{{ post.description | truncatewords: 30, '...' }}</a></p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>